name: Deployment Pipeline
on:
  push:
    branches:
      - main

jobs:
  deploy-to-ec2:
    name: Deploy to Amazon EC2
    runs-on: ubuntu-latest
  #  needs: build-and-push-to-ecr
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Deploy to EC2 instance
        run: |
          command_id=$(aws ssm send-command \
            --instance-ids i-0e92c3c4a3db73007 i-0029335c18d9eb9bf \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy Docker image from ECR" \
            --parameters 'commands=["aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 289390529155.dkr.ecr.us-east-1.amazonaws.com && docker pull 289390529155.dkr.ecr.us-east-1.amazonaws.com/my-repo:latest && docker run -d 289390529155.dkr.ecr.us-east-1.amazonaws.com/my-repo:latest"]' \
            --query "Command.CommandId" --output text)

          echo "SSM CommandId: $command_id"
